<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>serviceGestionUsuario</servlet-name>
    <servlet-class>org.mivotocuenta.server.control.rpc.ServiceGestionUsuarioImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>serviceGestionUsuario</servlet-name>
    <url-pattern>/mivotocuenta/servicegestionusuario</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>serviceGestionCandidato</servlet-name>
    <servlet-class>org.mivotocuenta.server.control.rpc.ServiceGestionCandidatoImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>serviceGestionCandidato</servlet-name>
    <url-pattern>/mivotocuenta/servicegestioncandidato</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>serviceGestionConteo</servlet-name>
    <servlet-class>org.mivotocuenta.server.control.rpc.ServiceGestionConteoImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>serviceGestionConteo</servlet-name>
    <url-pattern>/mivotocuenta/servicegestionconteo</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Mivotocuenta.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>org.mivotocuenta.server.ws.WsGestionCandidato,org.mivotocuenta.server.ws.WsGestionConteo,org.mivotocuenta.server.ws.WsGestionUsuario</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>